@charset "UTF-8";
body{
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #141414;
    max-width: 800px;
    width: 100%;
    margin: auto;
}
.menu-bar {
    background-color: #ff8800;
    padding: 10px;
}
.logo {
    background-color: #ff8800;
    border: solid 5px;
    border-radius: 30px;
    border-color: black;
}
.card {
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: #ff8800;
    display: inline-table;
}
.card-name {
    margin: 0;
    text-decoration: none; 
}
.thumb {
    width: 100%;
    max-width: 400px;
}
.sinopse {
    text-align: justify;
}
.season {
    display: flex;
}
.sd, .hd{
    background-color: #2727be;
    border-radius: 10px;
}
.fhd {
    background-color: #da2727;
    border-radius: 10px;
}
h1 {
    background-color: #202020;
    color: white;
}
h2 {
    background-color: #202020;
    color: white;
}
h3 {
    padding: 10px;
    color: white;
    background-color: #202020;
}
p {
    padding: 5px;;
    color: white;
    background-color: #202020;
}