@charset "UTF-8";

/* Mobile First */
:root {
    --background: black;
    --header: #202020;
    --logo: red;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 4, 'opsz' 40;
    font-size: 40px;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    width: 100vw;
    background-color: var(--header);
}

header > menu {
    display: inline;
}

header > menu > span {
    display: inline;
}

header > logo {
    font-size: 2em;
    font-weight: 900;
    color: var(--logo);
}

main {

}